* {
    /* border: 1px solid black; */
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1.8rem;
}

.app {
    overflow: hidden;
}

.app__container {
    background-color: #e8e8e8;
    ;
}

:root {
    --primary-color: rgb(252, 194, 93);
}

/*header*/
.header {
    background-color: #5fa533;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.header-info {
    display: flex;
    height: var(--header-with-search-height);
    padding: 10px 0;
    border-bottom: 1px solid white;
    justify-content: end;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*logo and title*/

.logo-p {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 4px;
    position: relative;
}

.color_textLogo:hover .logo-p {
    color: #e8e8e8;
}

.header-title {
    align-self: center;
    width: 120px;
    text-align: center;
    display: block;
}

/*gio hang*/
.header__cart {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-logo {
    align-self: center;
    position: relative;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-logo:hover {
    cursor: pointer;
}

.cart-icon {
    color: rgb(255, 255, 255);
}

.cart-list--no {
    position: absolute;
    top: calc(100% + 16px);
    right: 15px;
    background-color: var(--white-color);
    width: 450px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    /* margin: 0 10px; */
}

.cart-list--no-nois {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list--no::after {
    content: "";
    position: absolute;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 5px;
    top: -30px;
    cursor: pointer;
}

.cart-logo:hover .cart-list--no {
    display: block;
}

/*thong bao*/
.header__notify {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.header__notify-bell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__notify-icon {
    color: #e0e0e0;
}

.notify--no {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 200%;
    right: 20px;
    width: 250px;
    height: 400px;
    background-color: var(--white-color);
    text-align: center;
    transform-origin: calc(100% - 15px) top;
    /*trừ cho 15px(tương đương tâm nửa icon)*/
    animation: growth ease-in 0.2s;
    z-index: 1;
    cursor: default;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
}

.notify--no p {
    margin-top: 20px;
}

.notify--no::after {
    position: absolute;
    content: "";
    top: -45px;
    display: block;
    border-width: 26px 24px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    right: 2px;
}

.header__notify-bell:hover .notify--no {
    display: block;
}


/*login*/
.header__login {
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ic1_2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ic1_2 i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon:hover {
    cursor: pointer;
}

.login-title {
    width: 100px;
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 170%;
    right: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px #e0e0e0;
    list-style: none;
    display: none;
    transform-origin: calc(100% - 20px);
    animation: notify-growth ease-in 0.2s;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
}

.login-item a {
    color: var(--text-color);
}

.login-title::before {
    content: "";
    position: absolute;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    right: 8px;
    top: -28px;
}

.login-icon:hover .login-title {
    display: block;
}

@keyframes growth {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.login-item {
    list-style: none;
    display: block;
    padding: 10px 3px;
}

.C1_2 {
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 0 5px;
}

.login-item:hover {
    background-color: var(--border-color);
}

.logo {
    margin-top: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
    position: relative;
}

.header__shop {
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__shop p {
    color: var(--groud-color);
    font-size: 2.6rem;
}

.pagecart {
    padding-left: 30px;
    border-left: 4px solid var(--groud-color);
    font-size: 2rem;
    font-weight: 400;
}

.cart {
    padding: 15px 0;
}

.cart-items {
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item img {
    width: 10%;
    height: 90%;
    margin: 10px 10px 10px 10px;
}

.item-details {
    display: flex;
    justify-content: space-between;
}

.img-item {
    display: flex;
    align-items: center;
}

.price-item {
    display: flex;
    align-items: center;

}

.quantity-control {
    display: flex;
}

.quantity-control a {
    margin: 0 5px;
}


.price {
    margin: 0 50px;
}

.right-img {
    display: block;
}

.price-sp {
    display: flex;
}

.hi {
    margin: 20px 50px;
    display: flex;
    justify-content: end;
}

.cart-summary {
    display: block;
    justify-content: right;
}

.form button {
    width: 100%;
}

.cart-summary-top {
    margin-bottom: 10px;
    display: flex;
}

.cart-summary-top h2 {
    margin: 0 5px;
}

.price {
    width: 100px;
}

/* <body>
    <?php include 'header.php'; ?>

    <nav>
        <ul class="navigation">
            <li><a href="index.php">Trang Chủ</a></li>
            <li><a href="/cart" class="active">Giỏ Hàng</a></li>
            <li><a href="user/payment.php">Thanh Toán</a></li>
            <li><a href="#">Hoàn Tất</a></li>
        </ul>
    </nav>
    <div class="cart-container">
        <h1>Giỏ Hàng</h1>

        <div class="cart-items">
            <?php if (empty($cart)): ?>
                <p>Giỏ hàng đang trống.</p>
            <?php else: ?>
                <?php foreach ($cart as $id => $each): ?>
                    <div class="cart-item">
                        <img src="admin/products/photo/<?php echo $each['photo'] ?>">
                        <div class="item-details">
                            <h3><?php echo $each['name'] ?></h3>
                            <p class="price"><?php echo $each['price'] ?></p>
                            <div class="quantity-control">
                                <a href="update_quantity_in_cart.php?id=<?php echo $id ?>&type=0">-</a>
                                <?php echo $each['quantity'] ?>
                                <a href="update_quantity_in_cart.php?id=<?php echo $id ?>&type=1">+</a>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>

        <?php if (!empty($cart)): ?>
            <div class="cart-summary">
                <h2>Tổng Cộng</h2>
                <p class="total-price"><?php echo $sum; ?></p>

     
                <form action="form_checkout.php" method="get">
                    <button type="submit" class="checkout-btn">Thanh Toán</button>
                </form>
            </div>
       <?php endif; ?>
    </div>

    <script>
    </script>
</body> */